* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4d4d4d;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: #f5f5f5;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

